@import '~@angular/material/theming';

@include mat-core();

$pop-primary: mat-palette($mat-blue);
$pop-accent:  mat-palette($mat-amber);
$pop-warn:    mat-palette($mat-red);
$pop-theme:   mat-light-theme($pop-primary, $pop-accent, $pop-warn);

@mixin pop-icons {
  --pop-icon-fruit: rgb(240, 0, 80);
  --pop-icon-milk: rgb(255, 219, 65);
  --pop-icon-cocktail: rgb(0, 136, 203);
}

@include angular-material-theme($pop-theme);
