<div class="p-4">
  <md-tab-group>
    <md-tab>
      <ng-template md-tab-label> Pops </ng-template>
      <!-- Choose sort order -->
      <md-button-toggle-group id="sortOrder"
        [(ngModel)]="sortOrder" (change)="changeSort()" class="mt-2">
        <md-button-toggle value="alpha">
          <md-icon>sort_by_alpha</md-icon>
        </md-button-toggle>
        <md-button-toggle value="price">
          <md-icon>attach_money</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <label for="sortOrder" class="ml-1">Sort Order</label>

      <!-- Display Pops -->
      <div class="row d-flex flex-wrap mt-2">
        <div class="col-md-3 col-sm-12 my-1" *ngFor="let pop of pops">
          <app-pop-display #popDisp [pop]="pop"
                           (click)="openEditDialog(pop,popDisp)"></app-pop-display>
        </div>
        <div class="col-md-3 col-sm-12 my-1 d-flex justify-content-center">
          <button md-fab type="button" name="add-pop" (click)="openAddDialog()">
            <md-icon>add</md-icon>
          </button>
        </div>
      </div>

    </md-tab>
  </md-tab-group>
</div>
