@font-face {
  font-family: 'Pops';
  src:  url('Pops.eot');
  src:  url('Pops.eot') format('embedded-opentype'), url('Pops.ttf') format('truetype'),
        url('Pops.woff') format('woff'), url('Pops.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Pops' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pop:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
