<div class="d-flex align-items-center justify-content-center fh">
  <div class="jumbotron text-center">
      <h1>Angular Pops</h1>
      <p class="mb-2">
        This is a demo MEAN app hosted on Heroku and mLab
      </p>
      <button md-raised-button color="primary" routerLink="/pops" class="mb-3">
        <md-icon fontSet="Pops" fontIcon="icon-pop"></md-icon> Show me the Pops!
      </button>
      <div class="d-flex justify-content-center">
        <i class="devicon devicon-mongodb-plain colored"></i>
        <i class="devicon devicon-express-original colored"></i>
        <i class="devicon devicon-angularjs-plain colored"></i>
        <i class="devicon devicon-nodejs-plain colored"></i>
      </div>
  </div>
</div>
