:host {
  display: block;
  height: inherit;
  background-image: url("~assets/images/popBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

i.devicon {
  font-size: 40px;
  background: whitesmoke;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, 0.75);
}

.jumbotron {
  background: rgba(210,210,210,0.5);
  box-shadow: 1px 1px 1px 1px rgba(100,100,100,0.75);
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 1px rgba(100,100,100,0.75);
    margin-bottom: 25px;
  }
}
