<div>
  <ul>
    <li>/ : API Info</li>
    <li>/pops : GET all pops</li>
    <li>/pop : CREATE a pop</li>
    <li>/pop/:id : GET a specific pop</li>
    <li>/pop/:id : UPDATE a pop</li>
    <li>/pop/:id : DELETE a pop</li>
  </ul>
</div>
