<div class="pop-display d-flex p-2"
     [@popState]="state">
  <div class="pop-icon d-flex align-items-center
              justify-content-center flex-column pr-2">
    <md-icon fontSet="Pops" fontIcon="icon-pop" [ngStyle]="iconStyle"></md-icon>
    <small>{{pop.flavor_type | titlecase}}</small>
  </div>
  <div class="d-flex flex-column pl-2">
    <span>{{pop.flavor | titlecase}}</span>
    <span>{{pop.price  | currency:'USD':true}}</span>
  </div>
</div>
