@import '~@angular/material/theming';
@import 'src/assets/scss/theme.scss';
@import "src/assets/scss/mixins.scss";

:host {
  --bg-hover: mat-color($pop-primary, 300);
  --bg-selected: mat-color($pop-primary, 500);
  @include pop-icons;
}

.pop-display {
  background: rgb(225, 225, 225);
  @include shadow;

  &:hover {
    background: var(--bg-hover);
    cursor: pointer;
  }
}

.pop-icon {
  border-right: 1px solid;
  md-icon {
    font-weight: bold;
  }
}
