<div class="p-4">
  <md-tab-group>
    <md-tab>
      <ng-template md-tab-label> Carts </ng-template>
      <div class="mt-2 d-flex">
        <agm-map #map [latitude]="center.lat" [longitude]="center.lng">
          <agm-marker *ngFor="let cart of carts"
                      [latitude]="cart.lat" [longitude]="cart.lng">
          </agm-marker>
        </agm-map>
        <div class="p-2 d-flex">
          <app-cart-display *ngFor="let cart of carts"
                            [cart]="cart" class="m-2"></app-cart-display>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>
