<div class="edit-pop" *ngIf="!askDelete">
  <div class="d-flex align-items-center justify-content-end">
    <h2 md-dialog-title class="text-center">Edit {{popFlavor | titlecase}}</h2>
    <button md-icon-button
            md-dialog-title type="button"
            class="ml-auto" (click)="toggleDelete()"><md-icon>delete</md-icon></button>
  </div>
  <md-dialog-content>
    <form #popForm="ngForm">
      <div class="d-flex flex-column">
        <md-input-container>
          <input mdInput type="text" name="flavor" required
                [(ngModel)]="pop.flavor" placeholder="Flavor">
        </md-input-container>
        <div class="d-flex">
          <md-input-container class="mr-4">
            <input mdInput type="number" name="price" step="0.25" required
                  [(ngModel)]="pop.price" placeholder="Price">
          </md-input-container>
          <md-select name="flavor_type" required [(ngModel)]="pop.flavor_type"
                  placeholder="Type" class="align-self-center">
             <md-option *ngFor="let type of types" [value]="type">{{ type }}</md-option>
          </md-select>
        </div>
      </div>
    </form>
  </md-dialog-content>

  <md-dialog-actions class="d-flex justify-content-end">
    <button md-raised-button md-dialog-close color="warn">Cancel</button>
    <button md-raised-button [md-dialog-close]="{pop: pop}" [disabled]="!popForm.valid"
            class="ml-auto" color="primary">Save</button>
  </md-dialog-actions>
</div>

<div class="delete-pop" *ngIf="askDelete">
  <div class="d-flex align-items-center justify-content-start">
    <h2 md-dialog-title class="text-center">Delete {{popFlavor | titlecase}}?</h2>
  </div>
  <md-dialog-actions class="d-flex justify-content-end">
    <button md-raised-button color="warn" class="mr-4" (click)="toggleDelete()">Cancel</button>
    <button md-raised-button [md-dialog-close]="{pop: pop, remove: true}" class="ml-auto" color="primary">Delete</button>
  </md-dialog-actions>
</div>
