<!-- This is the main component to get full height -->
<md-sidenav-container start="sidenavLeft" end="sidenavRight" class="fs">
  <!-- Left nav -->
  <md-sidenav #sidenavLeft align="start">
    <router-outlet name="leftnav"></router-outlet>
  </md-sidenav>

  <!-- Main toolbar and router outlet -->
  <div id="main-content" class="d-flex flex-column fh">
    <!-- Sitewide toolbar -->
    <md-toolbar color="primary" class="d-flex justify-content-end sticky-top">
      <span class="mr-auto site-title">Angular Pops</span>
      <div *popIfMediaQuery="'(min-width: 600px)'">
        <button md-raised-button color="accent" routerLink="/pops">
          <md-icon fontSet="Pops" fontIcon="icon-pop"></md-icon>
        </button>
        <button md-raised-button color="accent" routerLink="/carts">
          <md-icon fontSet="Pops" fontIcon="icon-cart"></md-icon>
        </button>
        <button md-raised-button color="accent" routerLink="/home">
          <md-icon>home</md-icon>
        </button>
      </div>
      <div *popIfMediaQuery="'(max-width: 599px)'">
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item routerLink="/pops">
            <md-icon fontSet="Pops" fontIcon="icon-pop"></md-icon> Pops
          </button>
          <button md-menu-item routerLink="/carts">
            <md-icon fontSet="Pops" fontIcon="icon-cart"></md-icon> Carts
          </button>
          <button md-menu-item routerLink="/home">
            <md-icon>home</md-icon> Home
          </button>
        </md-menu>
      </div>
    </md-toolbar>
    <!-- Main component route -->
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<!-- Fixed position sidenav controls -->
<button md-mini-fab (click)="sidenavLeft.toggle()"
        id="left-nav-open"
        [hidden]="sidenavLeft.opened"
        [routerLink]="[{outlets: {'leftnav': ['about']}}]">
  <md-icon>info</md-icon>
</button>
