@import '~bootstrap/scss/bootstrap-grid.scss';

:host {
  position: relative;
}

.site-title {
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}

@include media-breakpoint-up(xs) {
  .site-title {
    font-size: 0.75em;
  }
}

@include media-breakpoint-up(sm) {
  .site-title {
    font-size: 1.25em;
  }
}

#left-nav-open {
  position: fixed;
  left: 1%;
  bottom: 1%;
}

md-sidenav {
  max-width: 75vw;
}

.mat-toolbar {
  box-shadow: 0 1px 2px 2px rgba(100, 100, 100, 0.5);
  button {
    margin-left: 10px;
  }
}
