<md-card>
  <md-card-header>
    <div md-card-avatar><md-icon fontSet="Pops" fontIcon="icon-cart"></md-icon></div>
    <md-card-title>{{cart.address}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let pop of cart.pops">
        <md-icon fontSet="Pops" fontIcon="icon-pop" [ngStyle]="setType(pop)"></md-icon>
        {{pop.flavor}} : {{pop.price | currency:'USD':true}}
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button color="warn">
      Delete Cart <md-icon color="warn">delete</md-icon>
    </button>
    <button md-button color="primary">
      Add Pop <md-icon color="primary">add</md-icon>
    </button>
  </md-card-actions>
</md-card>
