<div class="about-panel">
  <img src="assets/images/me.png"
       class="profile-pic mx-auto mt-3 rounded-circle d-block"/>
  <h2 class="text-center mt-4">Nick Glyder</h2>
  <md-list>
    <md-list-item>
      <button href="https://bitbucket.org/nicklaus_glyder/" md-raised-button class="btn-block btn-bitbucket">
        <span class="fa fa-bitbucket"></span> Bitbucket Repos
      </button>
    </md-list-item>
    <md-list-item>
      <button href="https://github.com/nglyder" md-raised-button class="btn-block btn-github">
        <span class="fa fa-github"></span> GitHub Repos
      </button>
    </md-list-item>
  </md-list>
  <md-card class="mx-2 mt-2">
    <md-card-title-group>
      <md-card-title>Contact Info</md-card-title>
    </md-card-title-group>
    <md-card-content>
      <md-list>
        <md-list-item>Email: nickglyder@gmail.com</md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
