/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import './assets/fonts/Pops.css';
@import './assets/scss/theme.scss';

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}

.full-height, .fh {
  min-height: 100%;
  height: 100%;
}

.full-width, .fw {
  min-width: 100%;
  width: 100%;
}

.full-size, .fs {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}
